<div class="mt-4">
    <form method="POST" action="">
        <div class="mb-3">
            <label for="search-input">Từ khóa</label>
            <input type="text" name="q" class="form-control" id="search-input" placeholder="emailHelp">
        </div>

        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>

</div>